/*  */
/***** global *****/
/*  */

.main-container {
    height: 1000px;
    padding-top: 30px;
    /* background-color: aqua; */
}

input[type=text]:focus,
input[type=password]:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-color: transparent;
}

.err-input {
    border-color: red;
}

/*  */
/***** login *****/
/*  */

.login-container {
    margin: 90px 0px 0px 0px;
    text-align: center;
}

.login-img h2,
h5 {
    font-family: 'Georgia';
    font-weight: 800;
}

.login-content {
    text-align: center;
}

.login-content p {
    font-size: 26px;
}

.login-form {
    background-color: #fafbfa;
    border: 1.5px solid #61c4c9;
    border-radius: 20px;
    width: 75%;
    padding: 40px 20px 40px 20px;
}

.login-form .form-control {
    border-radius: 8px;
    height: 45px;
}

.login-form .form-group .star {
    color: red;
    margin-left: 3px
}

.login-btn {
    width: 100%;
    border-radius: 8px;
    background-color: #61c4c9;
    border: none;
    color: white;
    font-weight: 500;
    height: 45px;
    font-size: 17px;
}

.login-btn:hover {
    background-color: #61c4c9c1;
}

.login-btn img {
    margin-bottom: 1px;
    margin-left: 4px;
}

/*  */
/***** navbar *****/
/*  */

.toggle {
    cursor: pointer;
}

.nav_name img {
    width: 13px;
    left: 0px;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700;
}

.on_show {
    background-color: rgba(142, 219, 223, 0.735);
}

.sub-active div {
    color: rgb(96, 125, 7);
    border-left: 2px solid red;
}

.nav_icon {
    font-size: 1.25rem;
}

.height-100 {
    height: 100vh;
    min-width: 100%;
}

.ico {
    width: 23px;
}

.collapse_icon {
    cursor: pointer;
}

.nav_header {
    width: 224px;
    text-align: center;
    margin-left: -20px;
}

.nav_footer {
    padding-top: 13px;
    padding-bottom: 13px;
}

.nav_foot_cap {
    padding-left: 18px;
}

.nav_foot {
    text-align: center;
    color: white;
    max-width: 224px;
}

.nav_foot h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.nav_foot p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
}

.user_profile {
    color: white;
    text-align: center;
    margin-left: 0px;
    max-width: 224px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 7px 0px 7px 0px;
}

.user_profile .user_img {
    padding: 7px 0px 7px 13px;
}

.user_profile .user_title p {
    color: white;
    font-size: 12px;
    font-weight: 550;
    margin-bottom: 0px;
    margin-top: 7px;
}

.user_profile .user_title span {
    color: white;
    font-size: 10px;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: 0.5s;
    background-image: linear-gradient(180deg, #578073 -10.71%, #343433 201.79%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    min-width: 50px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
}

.header_img img {
    max-width: 25px;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-image: linear-gradient(180deg, #33312f, #61c4c9);
    padding: 0.5rem 1rem 0 0;
    transition: 0.5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_name {
    font-size: 12px;
    color: white;
    padding-left: 20px;
    display: block;
    max-width: 150px;
    line-height: 15px;
    padding-right: 0px;
}

.nav_arrow {
    font-size: 12px;
    color: white;
    padding-right: 20px;
    max-width: 150px;
    line-height: 15px;
    text-align: right;
    padding-left: 0px;
}

.nav_arrow img {
    width: 13px;
    left: 0px;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: 0.3rem 0 0.3rem 1.5rem;
    left: -3px;
    width: 224px;
}

.nav_logo.toggle {
    margin: -3px 0px 17px -3px;
}

.nav_link:hover {
    background-color: rgba(142, 219, 223, 0.735);
    transition: 0.2s;
}

.nav_logo {
    margin-bottom: 2rem;
    padding-right: 100px;
    margin-left: -4px;
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    min-width: 227px;
    margin: 1rem 0 1rem 0;
}

.nav_link .row {
    width: 200px;
}

.nav_link:hover {
    color: var(--white-color);
}

.nav_link.active {
    background-color: #7ccab1;
    min-width: 227px;
}

.sub_menu {
    background-color: #a0e8d1;
    border-radius: 0px;
    font-size: 12px;
    display: none;
    width: 220px;
    border-radius: 0px 12px 12px 0px;
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.16);
}

.nav_list_header {
    background-color: #7ccab1;
    color: white;
    cursor: default;
    border-radius: 0px 12px 12px 0px;
}

.nav_list div.nav_list_header {
    padding: 7px 5px 8px 30px;
    border-bottom: 1px solid lightgrey;
}

.nav_list .nav_list_body div {
    padding: 8px 5px 8px 30px;
    font-size: 12px;
    margin-bottom: 5px;
}

.nav_list .nav_list_body div:hover {
    background-color: rgba(142, 219, 223, 0.735);
}

.nav_list a {
    color: white;
}

.show {
    left: 0;
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}

.active {
    color: var(--white-color);
}

.nav-body a {
    text-decoration: none;
}